
		<div class="mainContainer">
			
		<h3>Shipping and Billing address information</h3>
		<form #AddressController="ngForm" (ngSubmit)="submit(AddressController)">
		<table width=500px align=center>
		<tr><td><label>Shipping Address:</label>
			<input type="text" required name="sAddress" placeholder="St No., zip code, city, state" class="form-control"  ngModel #ShippingAddress="ngModel"/>
			<div class="alert alert-danger" *ngIf="ShippingAddressr.touched && !ShippingAddress.valid">
			<div *ngIf="ShippingAddress.errors.required">Shipping Address is required.</div>
		</div>
					</td></tr>
			<tr><td>
				<label>Billing Address:</label>
				<input type="text" required name="bAddress" placeholder="St No., zip code, city, state" class="form-control" ngModel #BillingAddress="ngModel"/>
				<div class="alert alert-danger" *ngIf="BillingAddress.touched && !BillingAddresss.valid">
				<div *ngIf="ShippingAddress.errors.required">Billing Address is required.</div>
				
</div>				
			</td></tr>
			<tr><td><br />
				<input type="submit" value="Continue" class="btn btn-primary" />
			</td></tr>
		</table>
	</form>
	</div>