<div class="mainContainer">
	
	<div class="loginmodal-container">
			
		<h3>Customer information</h3>

<form [formGroup]="customerInformationForm" (ngSubmit)="onSubmit()">
		
			<table class="table1">
				<tr><td><label>Full Name:</label>
					<input required type="text"  formControlName="fName" name="fName"  class="form-control" />
					<div *ngIf="!customerInformationForm.controls['fName'].valid">
						Invalid name
					  </div>
				</td></tr>
				<tr><td><label>E-mail:</label>
					<input  type="text" formControlName="email"  name="email"  class="form-control"   />
					<div *ngIf="!customerInformationForm.controls['email'].valid">
						Invalid Email
					  </div>
				</td></tr>
				<tr><td><label>Phone:</label>
					<input required type="text" formControlName="phone"  name="phone"  class="form-control"  />
					<div *ngIf="!customerInformationForm.controls['phone'].valid">
						Invalid Phone
					  </div>
				</td></tr>
				<tr><td><label>User Name:</label>
					<input type="text" required formControlName="username"  name="username" class="form-control"/>
					<div *ngIf="!customerInformationForm.controls['username'].valid">
						Invalid username
					  </div>
				</td></tr>
				<tr><td><label>Password:</label>
					<input type="password" required formControlName="password"  name="password"  class="form-control"/>
					<div *ngIf="!customerInformationForm.controls['password'].valid">
						Invalid Password
					  </div>
				</td></tr>
				<tr><td><br />
					<input [disabled]="!customerInformationForm.valid" type="submit" value="Continue" class="btn btn-primary" />
				</td></tr>
			</table>
		</form>
	</div>
</div>